@tailwind base;
@tailwind components;
@tailwind utilities;

html {
   font-family: 'Bitter', sans-serif;
   scroll-behavior: smooth;
}

body{ 
   background-color: #FFF; 
   color: #373A3C; 
}

ul{
   list-style: none;
   margin: 0;
   padding: 0;
}


img {max-width: 100%;}

a[href^=tel]{ color:#000; text-decoration:none;}
a, button {color: black;}
